.idea/
.git/
.vscode/

projeto/projeto/frontend/node_modules/

projeto/projeto/backend/autenticacao/__pycache__/
projeto/projeto/backend/backend/__pycache__/
projeto/projeto/backend/comunicacao/__pycache__/
projeto/projeto/backend/condutor/__pycache__/
projeto/projeto/backend/projeto/__pycache__/
projeto/projeto/backend/viagem/__pycache__/

projeto/projeto/backend/autenticacao/migrations/__pycache__/
projeto/projeto/backend/comunicacao/migrations/__pycache__/
projeto/projeto/backend/condutor/migrations/__pycache__/
projeto/projeto/backend/projeto/migrations/__pycache__/
projeto/projeto/backend/viagem/migrations/__pycache__/


