#root {
  flex-grow: 1; /* Allows #root to grow and take up available space */
  display: flex; /* If your content inside #root needs specific layout */
  flex-direction: column; /* Often useful for stacking content vertically inside #root */
  height: 100%; /* Alternatively, try height: 100% */
}

.main-content {
  display: flex;
  width: 1440px;
  padding-bottom: 67px;
  flex-direction: column;
  align-items: center;
  gap: 33px;

}