.form-group{
    margin-left: 10%;
    margin-right: 10%;
}

.form-group-date{
    margin-bottom: 15px;
}

.neighbor-ride-search {
    color: #000; /* Black text */
    padding: 0.4rem;
    border-radius: 4px;
}
